
# GCP credentials
*.json
service-account-key.json
*credentials*.json
*service-account*.json

# devcontainer is needed for setup
!.devcontainer/devcontainer.json

# Google auth / gcloud
.gcloud/
.config/gcloud/

# gcloud temp files
.gsutil/
.bq/

# Terraform
.terraform/
terraform.tfstate*
*.tfstate
*.tfstate.*
crash.log

# Terraform variable files (can contain secrets)
*.tfvars
*.tfvars.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints

# UV
uv.lock

# UV cache (optional but recommended)
.uv/

# Environments
.env
.env.*
.envrc
.venv
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Files
*.parquet
*.csv

# Local pipeline state tracking
.last_run_temp
.last_run_sea

# Logs
*.log

# CLI configs
*.bq

# VS Code
.vscode/